page-home {
    .header-content {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 5px 10px 5px 10px;
        color: #fff;
        background-color: #21D4FD;
        background-image: linear-gradient(19deg, #21D4FD 0%, #B620FF 100%);
    }
    img {
        margin: 0 auto;
        width: 40%;
    }
}